
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Hakkımda</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımda</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>
                        Mahmut Şeker
                    </label>
                    <br />
                    <label>
                        BilgeAdam Yazılım Eğitimi Öğrencisi Olarak Başladım
                    </label>
                    <br />
                    <label>
                        Yaşım 29 Bu Mesleği Severek Ve Her Gün Yeni Birşey Keşfederek İlerletmekteyim
                    </label>
                    <br />
                    <label>
                        İletişim ("5363084927")
                    </label>
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>


